<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Express Token Examples</title>
  <style>
    .hide {
      display: none;
    }

    .show {
      display: block;
    }
  </style>
  <script src="/public/jquery-3.2.1.min.js"></script>
</head>

<body>
  <h1>首页</h1>

  <fieldset>
    <legend>用户信息</legend>
    <div id="notlogin">
      <span>未登录</span>
      <a href="login">点击进入登录页面</a>
    </div>
    <div id="loged" class="hide">
      您已登录，用户名： <span></span>

      <button id="btn-logout">Logout</button>
    </div>
  </fieldset>
  <script>
    function _doAutoLogin() {
      var token = localStorage.getItem('x-token');
      if (token) {
        $.ajax('/user', { headers: { 'x-token': token } })
          .then(result => {
            if (result && result.username) {
              $('#notlogin').addClass('hide');
              $('#loged').addClass('show').find('span').text(result.username);
            }
          });
      }
    }
    function _bindEvents() {
      $('#btn-logout').on('click', function (e) {
        var token = localStorage.getItem('x-token');
        $.ajax('/logout', { method: 'POST', headers: { 'x-token': token } })
          .then(() => {
            localStorage.removeItem('x-token');
            location.reload();
          });
      });
    }
    $(function () {
      _doAutoLogin();
      _bindEvents();
    });
  </script>
</body>

</html>
