<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Express Token Examples</title>
  <script src="/public/jquery-3.2.1.min.js"></script>
</head>

<body>
  <h1>登录页面</h1>

  <fieldset>
    <legend>账户信息</legend>
    <div>
      <label for="">用户名</label><input type="text" id="username">
      <br>
      <label for="">密码</label><input type="password" id="password">
      <br>
      <button type="button" id="btn-login" class="btn btn-default">登录</button>
    </div>
  </fieldset>
  <script>
    $(function () {
      $('#btn-login').on('click', function () {
        var postData = {
          username: $('#username').val(),
          password: $('#password').val()
        };
        $.post('/login', postData)
          .then(result => {
            localStorage.setItem('x-token', result.token);
            location.href = '';
          });
      });
    });
  </script>
</body>

</html>
